{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="{% static 'css/comment.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{{ title }}</title>
</head>
<body>

<header>
    <img class="logo-image" src="{% static 'img/logo-pricehelper.png' %}" alt="Logo" width="35" height="38">
    <img class="title-ph" src="{% static 'img/title-pricehelper.png' %}" alt="PriceHelper" width="178" height="30">
</header>

<ul class="nav">
    <li>
        <a href="{% url 'price:other_tables' %}">
            Другие пользователи
        </a>
    </li>
    <li>
        <a href="{% url 'price:table' %}">
            Таблица
        </a>
    </li>
    <li>
        <a href="{% url 'price:basket' %}">
            Корзина
        </a>
    </li>
    <li>
        <a href="{% url 'price:profile' %}">
            Личный кабинет
        </a>
    </li>
</ul>

{% block content %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>