{% for price in prices %}
    {% if price.product.product == user_product and price.shop.shop == user_shop.shop %}
        <div>
            <b>Продукт: </b>{{ user_product.name }}
        </div>
        <div>
            <b>Магазин: </b>{{ user_shop.shop.name }}
        </div>
        <div>
            <b>Цена: </b>{{ price.price }}
        </div>
        <div>
            <b>Комментарий: </b>
            {% if price.comment %}
            {{ price.comment }}
            {% else %}
            -
            {% endif %}
        </div>
        {% for update in updates %}
            {% if update.product.product.name == price.product.product.name and update.shop.shop.name == price.shop.shop.name and update.shop.adress == price.shop.adress %}
                <div>
                    <b>Уведомление: </b>найдена более свежая информация
                </div>
                <div>
                    {{ update.product.user.first_name }} {{ update.product.user.last_name }} - {{ update.price }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}