{% extends 'price/base.html' %}
{% load static %}

{% block content %}

<div>
    <h2 class="main_label">Личный кабинет</h2>
    <div class="main-box">
        <div>
        <img class="user_avatar" width="100" height="100"
            src="{% if user.avatar %}
            {{ user.avatar.url }}
            {% else %}
            {% static 'img/users/default_avatar.jpg' %}
            {% endif %}">
    </div>
    <form action="{% url 'price:profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="{{ form.first_name.id_for_label }}"><b>Имя</b></label>
            {{ form.first_name }}
        </div>
        <div>
            <label for="{{ form.last_name.id_for_label }}"><b>Фамилия</b></label>
            {{ form.last_name }}
        </div>
        <div>
            <label for="{{ form.avatar.id_for_label }}"><b>Выберите изображение</b></label>
            {{ form.avatar }}
        </div>
        <div>
            <label for="{{ form.username.id_for_label }}"><b>Имя пользователя</b></label>
            {{ form.username }}
        </div>
        <div>
            <label for="{{ form.email.id_for_label }}"><b>Адрес электронной почты</b></label>
            {{ form.email }}
        </div>
        <div>
            <label for="{{ form.city.id_for_label }}"><b>Выберите город</b></label>
            {{ form.city }}
        </div>
<!--        <div>-->
<!--            <select name="city">-->
<!--                {% for city in cities %}-->
<!--                    {% if city.id == form.city.id %}-->
<!--                        <option value="{{ city.id }}" selected>-->
<!--                            {{ city.name }}-->
<!--                        </option>-->
<!--                    {% else %}-->
<!--                        <option value="{{ city.id }}">-->
<!--                            {{ city.name }}-->
<!--                        </option>-->
<!--                    {% endif %}-->
<!--                {% endfor %}-->
<!--            </select>-->
<!--        </div>-->
        <div>
            <label for="{{ form.private.id_for_label }}"><b>Приватный аккаунт</b></label>
            {{ form.private }}
        </div>
        <div>
            <input type="submit" value="Сохранить">
        </div>
    </form>
            <a class="logout-label" href="{% url 'users:logout' %}">
        Выйти
    </a>
    </div>
<!--                style="-->
<!--        margin-top: 33px;-->
<!--        "-->

</div>

{% endblock %}