{% extends 'price/base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/edit_price_show.js' %}"></script>
    <script src="{% static 'js/comment.js' %}"></script>
{% endblock %}

{% block content %}

<div>
    <h2 class="main_label">Таблица цен</h2>
    <table border="1" class="price_table">
        <thead>
            <tr>
                <th class="shop_h">
                    <form method="post">
                        {% csrf_token %}
                            <label for="{{ product_user_form.product.id_for_label }}">Выберите продукт</label>
                            {{ product_user_form.product }}
                            <input type="submit" value="Добавить продукт" name="add_product_to_user">
                    </form>
                    <form method="post">
                        {% csrf_token %}
                            <label for="{{ shop_user_form.shop.id_for_label }}">Выберите магазин</label>
                            {{ shop_user_form.shop }}
                            <label for="{{ shop_user_form.difficulty.id_for_label }}">Сложность</label>
                            {{ shop_user_form.difficulty }}
                            <input type="submit" value="Добавить магазин" name="add_shop_to_user">
                    </form>
                </th>
                {% for user_shop in user_shops %}
                    <th class="cell">
                        <div>
                            <img class="shop_icon" src="{% if user_shop.shop.icon %}
                                {{ user_shop.shop.icon.url }}
                                {% else %}
                                {% static 'img/shop/shop_default.jpg' %}
                                {% endif %}" alt="">
                        </div>
                        <div class="cell">
                            {{ user_shop.shop.name }}
                            <div>
                                {% if user_shop.difficulty == 2 %}
                                    ••◦◦◦
                                {% elif user_shop.difficulty == 3 %}
                                    •••◦◦
                                {% elif user_shop.difficulty == 4 %}
                                    ••••◦
                                {% elif user_shop.difficulty == 5 %}
                                    •••••
                                {% else %}
                                    •◦◦◦◦
                                {% endif %}
                            </div>
                            <form method="post" action="{% url 'price:delete_user_shop' %}">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value = "{{ user.id }}">
                                <input type="hidden" name="shop_id" value = "{{ user_shop.shop.id }}">
                                <button class="button-delete" type="submit">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </div>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for user_product in user_products %}
                <tr>
                    <td class="cell">
                        <div>
                            <img class="product_icon" src="{% if user_product.icon %}
                                {{ user_product.icon.url }}
                                {% else %}
                                {% static 'img/product/product_default.jpg' %}
                                {% endif %}" alt="">
                        </div>
                        <div class="cell_info">
                            {{ user_product.name }}
                            <form method="post" action="{% url 'price:delete_user_product' %}">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value = "{{ user.id }}">
                                <input type="hidden" name="product_id" value = "{{ user_product.id }}">
                                <button class="button-delete" type="submit">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                    {% for user_shop in user_shops %}
                        <td class="price_cell" data-mousepopup="{% include 'price/price_comment.html' with user_product=user_product user_shop=user_shop prices=prices%}">
                            <div class="price_value">
                                {% for price in prices %}
                                    {% if price.product.product == user_product and price.shop.shop == user_shop.shop %}
                                        {{ price.price }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="price_change">
                                <div id="edit-btn-{{ user_product.id }}-{{ user_shop.id }}">
                                    <a>
                                        <button onClick="show_edit('{{ user_product.id }}', '{{ user_shop.id }}')">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </a>
                                </div>
                                <div id="edit-form-{{ user_product.id }}-{{ user_shop.id }}" hidden="true">
                                    <form method="post" action="{% url 'price:update_price' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="user_id" value="{{ user.id }}">
                                        <input type="hidden" name="product_id" value="{{ user_product.id }}">
                                        <input type="hidden" name="shop_id" value="{{ user_shop.shop.id }}">
                                        <input type="text" pattern="[0-9]+([\,][0-9]{1,2})?" name="price" value="{% for price in prices %}{% if price.product.product == user_product and price.shop.shop == user_shop.shop %}{{ price.price }}{% endif %}{% endfor %}">
                                        <input name="comment" placeholder="Комментарий">
                                        <button onClick="hide_edit('{{ user_product.id }}', '{{ user_shop.id }}')" type="submit" name="update_price">Сохранить</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="{{ product_form.category.id_for_label }}">Категория</label>
            {{ product_form.category }}
        </div>
        <div>
            <label for="{{ product_form.name.id_for_label }}">Название продукта</label>
            {{ product_form.name }}
        </div>
        <div>
            <label for="{{ product_form.icon.id_for_label }}">Выберите изображение</label>
            {{ product_form.icon }}
        </div>
        <div>
            <input type="submit" value="Создать продукт" name="add_product">
        </div>
    </form>
    <hr>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="{{ shop_form.name.id_for_label }}">Название магазина</label>
            {{ shop_form.name }}
        </div>
        <div>
            <label for="{{ shop_form.icon.id_for_label }}">Выберите изображение</label>
            {{ shop_form.icon }}
        </div>
        <div>
            <label for="{{ shop_form.adress.id_for_label }}">Адрес магазина</label>
            {{ shop_form.adress }}
        </div>
        <div>
            <input type="submit" value="Создать магазин" name="add_shop">
        </div>
    </form>
</div>

{% endblock %}