{% extends 'price/base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'js/comments_shopinfo.js' %}"></script>
{% endblock %}

{% block content %}

<div>
    <h2 class="main_label">Таблица цен {{ username }}'а</h2>
    {% if is_empty %}
    <div>
        Таблица пуста
    </div>
    {% else %}
    <table border="1" class="price_table">
        <thead>
            <tr>
                <th class="shop_h">

                </th>
                {% for user_shop in user_shops %}
                    <th data-mousepopup="{% include 'price/shop_info.html' with user_shop=user_shop %}">
                        <div>
                            <img class="shop_icon" src="{% if user_shop.shop.icon %}
                                {{ user_shop.shop.icon.url }}
                                {% else %}
                                {% static 'img/shop/shop_default.jpg' %}
                                {% endif %}" alt="">
                        </div>
                        <div class="cell">
                            {{ user_shop.shop.name }}
                            <div>
                                {% if user_shop.difficulty == 2 %}
                                    ••◦◦◦
                                {% elif user_shop.difficulty == 3 %}
                                    •••◦◦
                                {% elif user_shop.difficulty == 4 %}
                                    ••••◦
                                {% elif user_shop.difficulty == 5 %}
                                    •••••
                                {% else %}
                                    •◦◦◦◦
                                {% endif %}
                            </div>
                        </div>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for user_product in user_products %}
                <tr>
                    <td>
                        <div>
                            <img class="product_icon" src="{% if user_product.icon %}
                                {{ user_product.icon.url }}
                                {% else %}
                                {% static 'img/product/product_default.jpg' %}
                                {% endif %}" alt="">
                        </div>
                        <div class="cell_info">
                            {{ user_product.name }}
                        </div>
                    </td>
                    {% for user_shop in user_shops %}
                        <td data-mousepopup="{% include 'price/price_comment.html' with user_product=user_product user_shop=user_shop prices=prices %}">
                            {% for price in prices %}
                                {% if price.product.product == user_product %}
                                    {% if price.shop.shop == user_shop.shop %}
                                        {{ price.price }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="export_btn" href="{% url 'price:import_table' username=username %}">
        <button class="export_btn">
            Экспортировать таблицу
        </button>
    </a>
    {% endif %}
</div>

{% endblock %}